{% extends 'base.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center">
<form  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" name="name" placeholder="enter the name of book"><br>
    <input type="text" name="author" placeholder="enter the author of book"><br>
    <input type="text" name="desc" placeholder="enter the description"><br>
    <input type="text" name="year" placeholder="enter the published year"><br>
    <input type="file" name="image" ><br>
    <input type="submit">


</form>
</body>
</html>
{% endblock %}